## 0. Импорт библиотек

In [2]:
import pandas as pd
import numpy as np

школа 21 вперед!

## 3. Самостоятельная часть

Ниже вам нужно самим собрать целиком датасет из разрозненных кусков и почистить датасет в части текстовых полей.

### 3.1 Объединение датасета
Вам нужно собрать полный датасет, собранный из частей датасета всех участников.
1. Датасет должен содержать в шапке названия полей.
2. Датасет не должен содержать лишних столбцов – только те, что были представлены в частях датасета.
3. Датасет должен быть отсортирован по возрастанию значений поля `ID`.
4. В датасете не должно быть дублирующихся строк и столбцов.

In [3]:
ptd1 = pd.read_csv('datasets/part_01.csv')
ptd2 = pd.read_csv('datasets/part_02.csv')
ptd3 = pd.read_csv('datasets/part_03.csv')
ptd4 = pd.read_csv('datasets/part_04.csv')
ptd5 = pd.read_csv('datasets/part_05.csv')
ptd6 = pd.read_csv('datasets/part_06.csv')
ptd7 = pd.read_csv('datasets/part_07.csv')
ptd8 = pd.read_csv('datasets/part_08.csv')
ptd9 = pd.read_csv('datasets/part_09.csv')
ptd10 = pd.read_csv('datasets/part_10.csv')
ptd11 = pd.read_csv('datasets/part_11.csv')
ptd12 = pd.read_csv('datasets/part_12.csv')

ptd1['ID'].unique

<bound method Series.unique of 0         358628
1         528730
2         160451
3         210467
4         292486
           ...
177590    436199
177591    302713
177592    388457
177593    364908
177594    278117
Name: ID, Length: 177595, dtype: int64>

In [4]:
btm1 = pd.concat([ptd5, ptd12], ignore_index=True)
btm2 = pd.concat([ptd6, ptd10], ignore_index=True)
btm3 = pd.concat([ptd2, ptd11], ignore_index=True)
btm4 = pd.concat([ptd1, ptd9], ignore_index=True)
btm5 = pd.concat([ptd3, ptd8], ignore_index=True)
btm6 = pd.concat([ptd4, ptd7], ignore_index=True)

In [5]:
final_dataset = btm1.merge(btm2, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(btm3, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(btm4, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(btm5, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(btm6, left_on='ID', right_on='ID')
final_dataset = final_dataset.sort_values(by='ID')
final_dataset

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,K01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,K01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
255813,590823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,0,0,104,0
233095,590825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,0,0,K01,0
353508,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,O01,0
330689,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,SISTER,0,0,0,0,1,0,K01,1

5. Выведете первые 10 строк объединенного датасета

In [58]:
final_dataset.head(10)

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
340199,146846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,105,0
28089,146847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,105,0
106110,146848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,o01,0
351749,146850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.590335,NaN,0,0,0,0,2,0,o01,0
218996,146851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.590335,NaN,0,0,0,0,0,0,o01,0

6. Выведите количество столбцов и колонок в объединенном датасете

In [7]:
final_dataset.shape

(355190, 116)

7. Проверьте датасеты на отсутствие дубликатов

In [8]:
final_dataset[final_dataset.duplicated()]

Empty DataFrame
Columns: [ID, CNT_ACCEPTS_MTP, CNT_ACCEPTS_TK, PRC_ACCEPTS_A_AMOBILE, PRC_ACCEPTS_A_ATM, PRC_ACCEPTS_A_EMAIL_LINK, PRC_ACCEPTS_A_MTP, PRC_ACCEPTS_A_POS, PRC_ACCEPTS_A_TK, PRC_ACCEPTS_MTP, PRC_ACCEPTS_TK, REST_AVG_CUR, REST_AVG_PAYM, REST_DYNAMIC_CC_1M, REST_DYNAMIC_CC_3M, REST_DYNAMIC_CUR_1M, REST_DYNAMIC_CUR_3M, REST_DYNAMIC_FDEP_1M, REST_DYNAMIC_FDEP_3M, REST_DYNAMIC_IL_1M, REST_DYNAMIC_IL_3M, REST_DYNAMIC_PAYM_1M, REST_DYNAMIC_PAYM_3M, REST_DYNAMIC_SAVE_3M, TURNOVER_CC, TURNOVER_DYNAMIC_CC_1M, TURNOVER_DYNAMIC_CC_3M, TURNOVER_DYNAMIC_CUR_1M, TURNOVER_DYNAMIC_CUR_3M, TURNOVER_DYNAMIC_IL_1M, TURNOVER_DYNAMIC_IL_3M, TURNOVER_DYNAMIC_PAYM_1M, TURNOVER_DYNAMIC_PAYM_3M, TURNOVER_PAYM, AGE, APP_CAR, APP_COMP_TYPE, APP_DRIVING_LICENSE, APP_EDUCATION, APP_EMP_TYPE, APP_KIND_OF_PROP_HABITATION, APP_MARITAL_STATUS, APP_POSITION_TYPE, APP_REGISTR_RGN_CODE, APP_TRAVEL_PASS, AMOUNT_RUB_ATM_PRC, AMOUNT_RUB_CLO_PRC, AMOUNT_RUB_NAS_PRC, AMOUNT_RUB_SUP_PRC, CNT_TRAN_ATM_TENDENCY1M, CNT_TRAN_ATM_TENDENCY3M, CNT_TRAN_AUT_TENDENCY1M, CNT_TRAN_AUT_TENDENCY3M, CNT_TRAN_CLO_TENDENCY1M, CNT_TRAN_CLO_TENDENCY3M, CNT_TRAN_MED_TENDENCY1M, CNT_TRAN_MED_TENDENCY3M, CNT_TRAN_SUP_TENDENCY1M, CNT_TRAN_SUP_TENDENCY3M, SUM_TRAN_ATM_TENDENCY1M, SUM_TRAN_ATM_TENDENCY3M, SUM_TRAN_AUT_TENDENCY1M, SUM_TRAN_AUT_TENDENCY3M, SUM_TRAN_CLO_TENDENCY1M, SUM_TRAN_CLO_TENDENCY3M, SUM_TRAN_MED_TENDENCY1M, SUM_TRAN_MED_TENDENCY3M, SUM_TRAN_SUP_TENDENCY1M, SUM_TRAN_SUP_TENDENCY3M, TRANS_AMOUNT_TENDENCY3M, TRANS_CNT_TENDENCY3M, TRANS_COUNT_ATM_PRC, TRANS_COUNT_NAS_PRC, TRANS_COUNT_SUP_PRC, AVG_PCT_DEBT_TO_DEAL_AMT, AVG_PCT_MONTH_TO_PCLOSE, DEAL_GRACE_DAYS_ACC_AVG, DEAL_GRACE_DAYS_ACC_MAX, DEAL_GRACE_DAYS_ACC_S1X1, DEAL_YQZ_IR_MAX, DEAL_YQZ_IR_MIN, DEAL_YWZ_IR_MAX, DEAL_YWZ_IR_MIN, LDEAL_ACT_DAYS_ACC_PCT_AVG, LDEAL_ACT_DAYS_PCT_AAVG, LDEAL_ACT_DAYS_PCT_CURR, LDEAL_ACT_DAYS_PCT_TR, LDEAL_ACT_DAYS_PCT_TR3, LDEAL_ACT_DAYS_PCT_TR4, LDEAL_AMT_MONTH, LDEAL_DELINQ_PER_MAXYQZ, LDEAL_DELINQ_PER_MAXYWZ, LDEAL_GRACE_DAYS_PCT_MED, LDEAL_TENOR_MAX, LDEAL_TENOR_MIN, LDEAL_USED_AMT_AVG_YQZ, LDEAL_USED_AMT_AVG_YWZ, LDEAL_YQZ_CHRG, LDEAL_YQZ_COM, LDEAL_YQZ_PC, ...]
Index: []

[0 rows x 116 columns]

### 3.2. Очистка текстовых данных
Теперь можно приступать к очистке данных. Для этого нужно:
1. Найти в получившемся датасете все поля, которые являются текстовыми.
2. Привести их значения к нижнему регистру.
3. В тех полях, где есть одновременно русское и английское написание одного и того же слова, оставить только русское (заменить английское на русское). Это условие не применять к полю `CLNT_JOB_POSITION`. Это будет чересчур даже для нашего курса :)
4. Если текстовое значение состоит только из “` `“ (пробел), то его заменить на `NaN` (пустое значение, а не строку 'NaN').
5. Если в текстовом значении есть цифры (телефон, дата рождения и др.), то всё значение текстового поля тоже заменить на `NaN`. Поле `PACK` оставить в исходном виде. Оно отвечает за пакет услуг клиента, и нам эта информация может быть важной. Затирать ее на пустые значения было бы опрометчиво.
6. Если есть столбцы, которые абсолютно идентичны по своим значениям для одних и тех же строк, то оставить только тот столбец, который идет первее. Речь идет только о текстовых полях.

# Только type == object

In [9]:
final_dataset.select_dtypes(include='object')

,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_TRAVEL_PASS,CLNT_JOB_POSITION,CLNT_JOB_POSITION_TYPE,CLNT_TRUST_RELATION,PACK
179094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,начальник отдела,NaN,NaN,K01
5351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102
206996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ГЕНЕРАЛЬНЫЙ ДИРЕКТОР,NaN,NaN,102
145569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,МЕНЕДЖЕР ИАО,NaN,NaN,K01
329776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104
255813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104
233095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K01
353508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Руководитель,NaN,NaN,O01
330689,NaN,PRIVATE,NaN,S,PRIVATE,SO,N,SPECIALIST,NaN,РЕКЛАМНЫЙ МЕНЕДЖЕР,SPECIALIST,SISTER,K01

# Инфо

In [10]:
print(final_dataset.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 355190 entries, 179094 to 330689
Data columns (total 116 columns):
 #    Column                       Dtype
---   ------                       -----
 0    ID                           int64
 1    CNT_ACCEPTS_MTP              float64
 2    CNT_ACCEPTS_TK               float64
 3    PRC_ACCEPTS_A_AMOBILE        float64
 4    PRC_ACCEPTS_A_ATM            float64
 5    PRC_ACCEPTS_A_EMAIL_LINK     float64
 6    PRC_ACCEPTS_A_MTP            float64
 7    PRC_ACCEPTS_A_POS            float64
 8    PRC_ACCEPTS_A_TK             float64
 9    PRC_ACCEPTS_MTP              float64
 10   PRC_ACCEPTS_TK               float64
 11   REST_AVG_CUR                 float64
 12   REST_AVG_PAYM                float64
 13   REST_DYNAMIC_CC_1M           float64
 14   REST_DYNAMIC_CC_3M           float64
 15   REST_DYNAMIC_CUR_1M          float64
 16   REST_DYNAMIC_CUR_3M          float64
 17   REST_DYNAMIC_FDEP_1M         float64
 18   REST_DYNAMIC_FDEP_3M         float64
 19   REST_DYNAMIC_IL_1M           float64
 20   REST_DYNAMIC_IL_3M           float64
 21   REST_DYNAMIC_PAYM_1M         float64
 22   REST_DYNAMIC_PAYM_3M         float64
 23   REST_DYNAMIC_SAVE_3M         float64
 24   TURNOVER_CC                  float64
 25   TURNOVER_DYNAMIC_CC_1M       float64
 26   TURNOVER_DYNAMIC_CC_3M       float64
 27   TURNOVER_DYNAMIC_CUR_1M      float64
 28   TURNOVER_DYNAMIC_CUR_3M      float64
 29   TURNOVER_DYNAMIC_IL_1M       float64
 30   TURNOVER_DYNAMIC_IL_3M       float64
 31   TURNOVER_DYNAMIC_PAYM_1M     float64
 32   TURNOVER_DYNAMIC_PAYM_3M     float64
 33   TURNOVER_PAYM                float64
 34   AGE                          int64
 35   APP_CAR                      object
 36   APP_COMP_TYPE                object
 37   APP_DRIVING_LICENSE          object
 38   APP_EDUCATION                object
 39   APP_EMP_TYPE                 object
 40   APP_KIND_OF_PROP_HABITATION  object
 41   APP_MARITAL_STATUS           object
 42   APP_POSITION_TYPE            object
 43   APP_REGISTR_RGN_CODE         float64
 44   APP_TRAVEL_PASS              object
 45   AMOUNT_RUB_ATM_PRC           float64
 46   AMOUNT_RUB_CLO_PRC           float64
 47   AMOUNT_RUB_NAS_PRC           float64
 48   AMOUNT_RUB_SUP_PRC           float64
 49   CNT_TRAN_ATM_TENDENCY1M      float64
 50   CNT_TRAN_ATM_TENDENCY3M      float64
 51   CNT_TRAN_AUT_TENDENCY1M      float64
 52   CNT_TRAN_AUT_TENDENCY3M      float64
 53   CNT_TRAN_CLO_TENDENCY1M      float64
 54   CNT_TRAN_CLO_TENDENCY3M      float64
 55   CNT_TRAN_MED_TENDENCY1M      float64
 56   CNT_TRAN_MED_TENDENCY3M      float64
 57   CNT_TRAN_SUP_TENDENCY1M      float64
 58   CNT_TRAN_SUP_TENDENCY3M      float64
 59   SUM_TRAN_ATM_TENDENCY1M      float64
 60   SUM_TRAN_ATM_TENDENCY3M      float64
 61   SUM_TRAN_AUT_TENDENCY1M      float64
 62   SUM_TRAN_AUT_TENDENCY3M      float64
 63   SUM_TRAN_CLO_TENDENCY1M      float64
 64   SUM_TRAN_CLO_TENDENCY3M      float64
 65   SUM_TRAN_MED_TENDENCY1M      float64
 66   SUM_TRAN_MED_TENDENCY3M      float64
 67   SUM_TRAN_SUP_TENDENCY1M      float64
 68   SUM_TRAN_SUP_TENDENCY3M      float64
 69   TRANS_AMOUNT_TENDENCY3M      float64
 70   TRANS_CNT_TENDENCY3M         float64
 71   TRANS_COUNT_ATM_PRC          float64
 72   TRANS_COUNT_NAS_PRC          float64
 73   TRANS_COUNT_SUP_PRC          float64
 74   AVG_PCT_DEBT_TO_DEAL_AMT     float64
 75   AVG_PCT_MONTH_TO_PCLOSE      float64
 76   DEAL_GRACE_DAYS_ACC_AVG      float64
 77   DEAL_GRACE_DAYS_ACC_MAX      float64
 78   DEAL_GRACE_DAYS_ACC_S1X1     float64
 79   DEAL_YQZ_IR_MAX              float64
 80   DEAL_YQZ_IR_MIN              float64
 81   DEAL_YWZ_IR_MAX              float64
 82   DEAL_YWZ_IR_MIN              float64
 83   LDEAL_ACT_DAYS_ACC_PCT_AVG   float64
 84   LDEAL_ACT_DAYS_PCT_AAVG      float64
 85   LDEAL_ACT_DAYS_PCT_CURR      float64
 86   LDEAL_ACT_DAYS_PCT_TR        float64
 87   LDEAL_ACT_DAYS_PCT_TR3       float64
 88   LDEAL_ACT_DAYS_PCT_TR4       float64
 89   LDEAL_AMT_MONTH              float64
 90   LDEAL_DELINQ_PER_MAXYQZ      float64
 91   LDEAL_DELINQ_PER_MAXYWZ      float64
 92   LDEAL_GRACE_DAYS_PCT_MED     float64
 93   LDEAL_TENOR_MAX              float64
 94   LDEAL_TENOR_MIN              float64
 95   LDEAL_USED_AMT_AVG_YQZ       float64
 96   LDEAL_USED_AMT_AVG_YWZ       float64
 97   LDEAL_YQZ_CHRG               float64
 98   LDEAL_YQZ_COM                float64
 99   LDEAL_YQZ_PC                 float64
 100  MAX_PCLOSE_DATE              float64
 101  MED_DEBT_PRC_YQZ             float64
 102  MED_DEBT_PRC_YWZ             float64
 103  CLNT_JOB_POSITION            object
 104  CLNT_JOB_POSITION_TYPE       object
 105  CLNT_SALARY_VALUE            float64
 106  CLNT_SETUP_TENOR             float64
 107  CLNT_TRUST_RELATION          object
 108  CR_PROD_CNT_CC               int64
 109  CR_PROD_CNT_CCFP             int64
 110  CR_PROD_CNT_IL               int64
 111  CR_PROD_CNT_PIL              int64
 112  CR_PROD_CNT_TOVR             int64
 113  CR_PROD_CNT_VCU              int64
 114  PACK                         object
 115  TARGET                       int64
dtypes: float64(94), int64(9), object(13)
memory usage: 317.1+ MB
None

# перевод в нижний регистр

In [11]:
list_cm = list(final_dataset.select_dtypes(include='object').columns)
list_cm

['APP_CAR',
 'APP_COMP_TYPE',
 'APP_DRIVING_LICENSE',
 'APP_EDUCATION',
 'APP_EMP_TYPE',
 'APP_KIND_OF_PROP_HABITATION',
 'APP_MARITAL_STATUS',
 'APP_POSITION_TYPE',
 'APP_TRAVEL_PASS',
 'CLNT_JOB_POSITION',
 'CLNT_JOB_POSITION_TYPE',
 'CLNT_TRUST_RELATION',
 'PACK']

In [12]:
for clmns in list_cm:
    final_dataset[clmns] = final_dataset[clmns].str.lower()
final_dataset.select_dtypes(include='object')

,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_TRAVEL_PASS,CLNT_JOB_POSITION,CLNT_JOB_POSITION_TYPE,CLNT_TRUST_RELATION,PACK
179094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,начальник отдела,NaN,NaN,k01
5351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102
206996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,генеральный директор,NaN,NaN,102
145569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,менеджер иао,NaN,NaN,k01
329776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104
255813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104
233095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,k01
353508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,руководитель,NaN,NaN,o01
330689,NaN,private,NaN,s,private,so,n,specialist,NaN,рекламный менеджер,specialist,sister,k01

# Жаришка с translate

In [13]:
from translate import Translator
translator = Translator(to_lang='Russian')

дропаем на тестовом дф неуникальные значения и значения с "NaN"

In [14]:
df = final_dataset.select_dtypes(include='object').dropna()
df = df.drop(columns='PACK')
df
uniq = []
for i in list_cm:
    uniq.append(list(final_dataset[i].unique()))

for i in uniq:
    for k in i:
        if type(k) == str:
            if len(k) > 2:
                uniq[uniq.index(i)][i.index(k)] = np.nan

st = []
for i in range(len(uniq)):
    st.append(set(uniq[i]))
for i in st:
    for word in i:
        if word != 'nan':
            df = df.replace(word, np.nan)
            print(word)
df

nan
y
n
nan
ip
nan
y
n
nan
hh
h
a
hi
uh
e
s
ac
us
av
ss
i
nan
ip
nan
jo
so
nan
t
c
n

m
w
d
v
nan
nan
y
n
nan
с
ит
ю
it
нс
-
в
п
cg
1
.
0
dj
ф
..
f
j
ди
чп
сп
k
у
и
--
су
л
ип
m
nan
nan
nan

,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_TRAVEL_PASS,CLNT_JOB_POSITION,CLNT_JOB_POSITION_TYPE,CLNT_TRUST_RELATION
114851,NaN,state,NaN,NaN,state,rent,NaN,specialist,NaN,менеджер,specialist,brother
313708,NaN,private,NaN,NaN,private,NaN,NaN,self_empl,NaN,директор,self_empl,friend
95165,NaN,private,NaN,NaN,private,other,NaN,specialist,NaN,специалист,specialist,friend
4281,NaN,private,NaN,NaN,private,NaN,NaN,specialist,NaN,главныцй бухгалтер,specialist,relative
97591,NaN,private,NaN,NaN,private,NaN,NaN,specialist,NaN,специалист отдела продаж,specialist,other
...,...,...,...,...,...,...,...,...,...,...,...,...
133420,NaN,private,NaN,NaN,private,NaN,NaN,top_manager,NaN,директор,top_manager,mother
264911,NaN,private,NaN,NaN,private,NaN,NaN,specialist,NaN,пом ген директора,manager,sister
294939,NaN,private,NaN,NaN,private,NaN,NaN,top_manager,NaN,независимый консультант,top_manager,daughter
298480,NaN,private,NaN,NaN,private,NaN,NaN,top_manager,NaN,директор,manager,sister
95698,NaN,private,NaN,NaN,private,other,NaN,top_manager,NaN,инженер-геодезист,top_manager,brother

минимизируем переводы путем убирания буковок всяких ненужных

In [17]:
unq = []
try:
    list_cm.remove('PACK')
except:
    pass
print(list_cm)
for i in list_cm:
    unq.append(list(df[i].unique()))

for i in unq:
    print(len(i))

['APP_CAR', 'APP_COMP_TYPE', 'APP_DRIVING_LICENSE', 'APP_EDUCATION', 'APP_EMP_TYPE', 'APP_KIND_OF_PROP_HABITATION', 'APP_MARITAL_STATUS', 'APP_POSITION_TYPE', 'APP_TRAVEL_PASS', 'CLNT_JOB_POSITION', 'CLNT_JOB_POSITION_TYPE', 'CLNT_TRUST_RELATION']
1
4
1
1
4
4
1
4
1
3550
4
9

берем только English слова и переводим

In [31]:
import re
unqRu = []
unqEn = []

for i in unq:
    for word in i:
        if type(word) == str and len(word) > 3:
            if re.search(r'[^a-zA-Z]',word):
                pass
            else:
                try:
                    wordRu = translator.translate(word)
                    unqEn.append(word)
                    unqRu.append(wordRu)
                    print(word, wordRu)
                except:
                    pass

state статус
private приватное
inter Промеж.
state статус
private приватное
inter Промеж.
rent сдать или снять
other Другое
specialist специалист
manager менеджер
manager менеджер
specialist специалист
specialist специалист
manager менеджер
brother брат
friend дружище
relative относительная
other Другое
mother мать
sister сестра
father отец
daughter дочь

добавляем в исходный дф

In [34]:
for wordEn in unqEn:
    final_dataset = final_dataset.replace(wordEn, unqRu[unqEn.index(wordEn)])
final_dataset

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
255813,590823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,0,0,104,0
233095,590825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,0,0,k01,0
353508,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,o01,0
330689,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,сестра,0,0,0,0,1,0,k01,1

дф только со строчками

In [35]:
final_dataset.select_dtypes(include='object')

,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_TRAVEL_PASS,CLNT_JOB_POSITION,CLNT_JOB_POSITION_TYPE,CLNT_TRUST_RELATION,PACK
179094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,начальник отдела,NaN,NaN,k01
5351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102
206996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,генеральный директор,NaN,NaN,102
145569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,менеджер иао,NaN,NaN,k01
329776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104
255813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104
233095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,k01
353508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,руководитель,NaN,NaN,o01
330689,NaN,приватное,NaN,s,приватное,so,n,специалист,NaN,рекламный менеджер,специалист,сестра,k01

дф без Нан

In [36]:
df

,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_TRAVEL_PASS,CLNT_JOB_POSITION,CLNT_JOB_POSITION_TYPE,CLNT_TRUST_RELATION
114851,NaN,статус,NaN,NaN,статус,сдать или снять,NaN,специалист,NaN,менеджер,специалист,брат
313708,NaN,приватное,NaN,NaN,приватное,NaN,NaN,self_empl,NaN,директор,self_empl,дружище
95165,NaN,приватное,NaN,NaN,приватное,Другое,NaN,специалист,NaN,специалист,специалист,дружище
4281,NaN,приватное,NaN,NaN,приватное,NaN,NaN,специалист,NaN,главныцй бухгалтер,специалист,относительная
97591,NaN,приватное,NaN,NaN,приватное,NaN,NaN,специалист,NaN,специалист отдела продаж,специалист,Другое
...,...,...,...,...,...,...,...,...,...,...,...,...
133420,NaN,приватное,NaN,NaN,приватное,NaN,NaN,top_manager,NaN,директор,top_manager,мать
264911,NaN,приватное,NaN,NaN,приватное,NaN,NaN,специалист,NaN,пом ген директора,менеджер,сестра
294939,NaN,приватное,NaN,NaN,приватное,NaN,NaN,top_manager,NaN,независимый консультант,top_manager,дочь
298480,NaN,приватное,NaN,NaN,приватное,NaN,NaN,top_manager,NaN,директор,менеджер,сестра
95698,NaN,приватное,NaN,NaN,приватное,Другое,NaN,top_manager,NaN,инженер-геодезист,top_manager,брат

 Быстрая версия транслэйта, на ночь запустить и готово будет :)
 неудачаная попытка

In [16]:
# sp = final_dataset.select_dtypes(include='object').values
# vals = []
# cache = []
# cacheEN = []
# counter = 0
# for i in sp:
#     tmp = []
#     for el in i:
#         if type(el) == str:
#             if el in cache:
#                 try:
#                     tmp.append(cache[cacheEN.index(el)])
#                 except:
#                     try:
#                         word = translator.translate(el)
#                         word = word.lower()
#                         tmp.append(word)     
#                         cache.append(el)
#                         cacheEN.append(word) 
#                     except:
#                         tmp.append(el)
#                         cache.append(el)
#                         cacheEN.append(el)
#             else:
#                 try:
#                     word = translator.translate(el)
#                     word = word.lower()
#                     tmp.append(word)     
#                     cache.append(el)
#                     cacheEN.append(word) 
#                 except:
#                     tmp.append(el)
#                     cache.append(el)
#                     cacheEN.append(el)
#         else:
#             tmp.append(el)
#     vals.append(tmp)
#     print(tmp)
#     counter+=1
#     print(counter)

# print(vals)
# final_dataset.select_dtypes(include='object')

# заменяем пробелы на Нан

In [38]:
final_dataset.replace(' ', np.nan)
final_dataset.head()

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0

# строки с цифрами на Нан

In [43]:
for i in list_cm:
    for val in list(final_dataset[i].values):
        if type(val) == str:
            try:
                a = float(val)
                final_dataset = final_dataset.replace(val, np.nan)
                print(val, type(val))
            except:
                pass

1 <class 'str'>
8482772711 <class 'str'>
007000003618 <class 'str'>
40817810800311301445 <class 'str'>
7723189833 <class 'str'>
1 <class 'str'>
7714037217 <class 'str'>
007000000102 <class 'str'>
7719589959 <class 'str'>
7707113869 <class 'str'>
1 <class 'str'>
79124501076 <class 'str'>
40817810300250004181 <class 'str'>
78129468972 <class 'str'>
7725042794 <class 'str'>
73422910226 <class 'str'>
007000006590 <class 'str'>
8312814063 <class 'str'>
78124980549 <class 'str'>
000006153 <class 'str'>
7714037217 <class 'str'>
4232324898 <class 'str'>
40817810000300020895 <class 'str'>
40817810200270925508 <class 'str'>
40817810800240015541 <class 'str'>
7812702 <class 'str'>
40817810300253014929 <class 'str'>
40817810400240015530 <class 'str'>
0 <class 'str'>
00000000000 <class 'str'>
41054 <class 'str'>
40817810600280209551 <class 'str'>
40817810400240015530 <class 'str'>
000006153 <class 'str'>
40817810300253014929 <class 'str'>
40817810000240082675 <class 'str'>
0 <class 'str'>
40817810200290058927 <class 'str'>
40817810200253030689 <class 'str'>
40817810600280209551 <class 'str'>
40817810900292682853 <class 'str'>
40817810200270925508 <class 'str'>
007000002632 <class 'str'>
40817810300260059473 <class 'str'>
40817810800300122980 <class 'str'>
78124980549 <class 'str'>
7725042794 <class 'str'>
40817810300270017659 <class 'str'>
40817810800350011576 <class 'str'>
40817810900242754975 <class 'str'>
40817810300250004181 <class 'str'>
40817810800300061834 <class 'str'>
1 <class 'str'>
40817810600250056596 <class 'str'>
8312814063 <class 'str'>
1 <class 'str'>
8482772711 <class 'str'>
40817810500242037717 <class 'str'>
40817810100242351068 <class 'str'>
7723565630 <class 'str'>
73433424459 <class 'str'>
7719589959 <class 'str'>
7714037217 <class 'str'>
73532000000 <class 'str'>
40817810400220034660 <class 'str'>
41054 <class 'str'>
1 <class 'str'>
1 <class 'str'>
00000000000 <class 'str'>
40817810700241619004 <class 'str'>
7707113869 <class 'str'>
7707113869 <class 'str'>
40817810400220034660 <class 'str'>
0 <class 'str'>
4232324898 <class 'str'>
40817810000300019149 <class 'str'>
00000000000 <class 'str'>
40817810400221147475 <class 'str'>
73952283445 <class 'str'>
7725042794 <class 'str'>
73422910226 <class 'str'>
7714037217 <class 'str'>
1 <class 'str'>
40817810700241619004 <class 'str'>
41054 <class 'str'>
7723565630 <class 'str'>
40817810500240073142 <class 'str'>
7719589959 <class 'str'>
40817810300253014929 <class 'str'>
1 <class 'str'>
7707113869 <class 'str'>
40817810400300019574 <class 'str'>
7723189833 <class 'str'>
8482772711 <class 'str'>
40817810300300048920 <class 'str'>
40817810500300288166 <class 'str'>
8312814063 <class 'str'>
40817810400220047482 <class 'str'>
78129468972 <class 'str'>
40817810800300061834 <class 'str'>
40817810900242754975 <class 'str'>
1 <class 'str'>
3833364949 <class 'str'>
40817810800220034532 <class 'str'>
1 <class 'str'>
78124980549 <class 'str'>
1 <class 'str'>
40817810300270930448 <class 'str'>
000006153 <class 'str'>
40817810200286447830 <class 'str'>
40817810200286447814 <class 'str'>
7702148410 <class 'str'>
1 <class 'str'>
40817810200270925508 <class 'str'>
73532000000 <class 'str'>
40817810100242351068 <class 'str'>
40817810100300004258 <class 'str'>
40817810800240057062 <class 'str'>

# 7. Выведите количество уникальных значения в полях CLNT_TRUST_RELATION, APP_MARITAL_STATUS, CLNT_JOB_POSITION

In [52]:
print('CLNT_TRUST_RELATION:', len(final_dataset['CLNT_TRUST_RELATION'].unique()))
print('APP_MARITAL_STATUS:', len(final_dataset['APP_MARITAL_STATUS'].unique()))
print('CLNT_JOB_POSITION:', len(final_dataset['CLNT_JOB_POSITION'].unique()))

CLNT_TRUST_RELATION: 16
APP_MARITAL_STATUS: 9
CLNT_JOB_POSITION: 15046

# 8. Выведите колонки итогового датасета

In [55]:
final_dataset.columns

Index(['ID', 'CNT_ACCEPTS_MTP', 'CNT_ACCEPTS_TK', 'PRC_ACCEPTS_A_AMOBILE',
       'PRC_ACCEPTS_A_ATM', 'PRC_ACCEPTS_A_EMAIL_LINK', 'PRC_ACCEPTS_A_MTP',
       'PRC_ACCEPTS_A_POS', 'PRC_ACCEPTS_A_TK', 'PRC_ACCEPTS_MTP',
       ...
       'CLNT_SETUP_TENOR', 'CLNT_TRUST_RELATION', 'CR_PROD_CNT_CC',
       'CR_PROD_CNT_CCFP', 'CR_PROD_CNT_IL', 'CR_PROD_CNT_PIL',
       'CR_PROD_CNT_TOVR', 'CR_PROD_CNT_VCU', 'PACK', 'TARGET'],
      dtype='object', length=116)

In [56]:
final_dataset

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
255813,590823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,0,0,104,0
233095,590825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,0,0,k01,0
353508,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,o01,0
330689,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,сестра,0,0,0,0,1,0,k01,1